 /* Add your CSS styles here */
 body {
     font-family: Arial, sans-serif;
     /* background-color: #212121; */
     background-color: black;
 }

 .chat-container {
     width: 400px;
     margin: auto;
     /* border: 1px solid #ccc; */
     /* border-radius: 5px; */
     overflow: hidden;
 }

 .chat-messages {
     height: 364px;
     overflow-y: auto;
     padding: 10px;
     /* background-color: #212121; */
     background-color: black;
 }

 .message {
     background-color: #e0e0e0;
     padding: 8px;
     margin-bottom: 5px;
     border-radius: 5px;
 }

 .user-message {
     background-color: #d6eaf8;
     text-align: right;
 }

 .bot-message {
     text-align: left;
 }

 .input-container {
     padding: 10px;
     background-color: #212121;
 }

 .input-field {
     width: 100%;
     padding: 8px;
     border: none;
     border-radius: 3px;
     background-color: #212121;

 }

 /* .send-button {} */

 .send-button:hover {
     background-color: #ebf0f5 !important;
 }

 .nav {
     /* background-color: #212121 !important; */
     background-color: black !important;
 }



 /* video */
 body,
 html {
     margin: 0;
     padding: 0;
     height: 100%;
 }

 .video-background {
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     overflow: hidden;
     z-index: -1;
 }

 #video-bg {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .content {
     position: relative;
     z-index: 1;
     color: white;
     text-align: center;
     padding: 20px;
 }